.side a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
}

.text {
  width: 56px;
  height: 28px;
}
.logo {
  width: 28px;
  height: 28px;
}
.tips {
  width: 20px;
  height: 20px;
}

.container {
  display: flex;
  flex-direction: row;
}

.container .menu {
  display: flex;
}
.container .sidebar {
  display: flex;
  position: absolute;
  left: 72px;
  width: 430px;
}
.container .content {
  display: flex;
  height: 100vh;
}
