.container-question {
  display: flex;
  flex-direction: column;
  width: 390px;
  background-color: white;
}
.container-text {
  padding: 15px 32px;
}
.parent-category {
  display: flex;
  flex-direction: row;
}
.wonder-title-item {
  margin-top: 30px;
}
.item-title {
}
